PROJECT_NAME:
DEV_VERSION:
GIT_REPO:
PRODUCTION_SERVER: 
PRODUCTION_USER: 
PRODUCTION_BRANCH: 
PRODUCTION_LINKED_FILES: 
PRODUCTION_LINKED_DIRS: 
STAGING_SERVER: 
STAGING_USER: 
STAGING_BRANCH: 
STAGING_LINKED_FILES: 
STAGING_LINKED_DIRS: 