project:
  name:
  dev_version:
  git_repo: <git repo>
production:
  server: <production server ip address>
  user: <production ssh deploy user name>
  branch: <git branch>
  linked_files: 
    - <file to be symlinked from the shared folder>
  linked_dirs: 
    - <dir to be symlinked from the shared folder>
staging:
  server: <staging server ip address>
  user: <staging ssh deploy user name>
  branch: <git branch>
  linked_files: 
    - <file to be symlinked from the shared folder>
  linked_dirs: 
    - <dir to be symlinked from the shared folder> 
magento: 
  auth_public_key: <magento auth public key>
  auth_private_key: <magento auth private key>